.pointer{
    cursor: pointer;
    
}

.stock-size:hover {
    text-decoration: underline;
}

.underline {
 text-decoration: underline;
}

.border-color {
   border-style: solid;
  border-color: rgba(201, 76, 76, 0.3);
}


.parent-dot {
   height: 19px;
  width: 19px;
  /* border-radius: 50%; */
  padding: 1px;
  display: inline-block;
  background-color: rgb(0, 0, 0);
   
  
}