.container-video {
  position: fixed;
   top: 0; 
   right: 0; 
   bottom: 0; 
   left: 0;
   overflow: hidden;
}

 
@media (min-aspect-ratio: 16/9) {
    #container-video >  .video { 
       height: 300%; 
       top: -100%; 
    }
}

@media (max-aspect-ratio: 16/9) {
    #container-video > .video { 
       width: 300%; 
       left: -100%; 
    }
}
 .video-style {
    height: 10px;
    width: 600px;
 
}

/* Video */

/* Extra small devices (phones, 600px and down) */
 