.dot {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  display: inline-block;
   
  
}

 
.navbar-text {
  
  /* font-weight: bold; */
}

.pointer{
    cursor: pointer;
}


.strike {
  text-decoration: line-through;
  color : rgb(187, 39, 39)
}


.zoom {
  
  transition: transform .3s;
 
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.1); 
}

/* [1] The container */
.img-hover-zoom {
 
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}


/* Horizontal Zoom-n-pan Container */
.img-hover-zoom--zoom-n-pan-h img {
  transition: transform .5s ease-in-out;
  transform: scale(1.4);
  transform-origin: 100% 0;
}

/* The Transformation */
.img-hover-zoom--zoom-n-pan-h:hover img {
  transform: scale(1.5) translateX(30%);
}



/* Product page qnty */
 

.quantity .input-text.qty {
 width: 35px;
 height: 40px;
 padding: 0 5px;
 text-align: center;
 background-color: transparent;
 border: 1px solid #efefef;
}

.quantity.buttons_added {
 text-align: left;
 position: relative;
 white-space: nowrap;
 vertical-align: top; }

.quantity.buttons_added input {
 display: inline-block;
 margin: 0;
 vertical-align: top;
 box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
 padding: 7px 10px 8px;
 height: 41px;
 background-color: #ffffff;
 border: 1px solid #efefef;
 cursor:pointer;}

.quantity.buttons_added .minus {
 border-right: 0; }

.quantity.buttons_added .plus {
 border-left: 0; }

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
 background: #eeeeee; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 margin: 0; }
 
 .quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
 outline: none; }


 .decoration-none{
   text-decoration: none;
 }

 .product-price-text {
   font-family: inherit;
   font-size: 0.9rem;
   font-weight: 600 ;
   color: #080704;
 }

  .product-head-text {
   font-family: inherit;
   font-size: 0.9rem;
   font-weight: 100 ;
 }

 .product-description{
   font-size: medium;
   font-family: sans-serif;
 }


 .footer-font{
   /* color: #cc9732; */
   color: #ffffff;
 }


 .category-border {
  
  border-radius: 5px;
  padding: 15px;
  border-right: 1px solid #edebef;
 }

 .vertical-filters-header {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 18px;
    clear: both;
    color: #282c3f;
    display: block;
}


.checkout-head {
  font-weight: 700;
}



.placeorder-border {
  
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #edebef;
 }

 .placeorder-border-2 {
  
  border-radius: 5px;
  padding: 15px;
  border-top: 1px solid #edebef;
 }


 .place-order-head{
   font-size: large;
  font-style: unset;
   font-weight: 600;
  /* text-transform: uppercase; */
  text-justify: distribute;
  color: #282c3f;
 }

 .payment-card {
    border: 2px solid #edebef;
    font-size: 16px;
    min-height: 100px;
    cursor: pointer;
    
 }
 .payment-card :hover{
   color: #282c3f;
   background-color: #d8cec1;
 }

 .payment-selected{
    background-color: #d8cec1;
 }

 .payment-card-head {
   color: #080704;
 }




 /* Order */

 .order-font{
   font-size: larger;
  
   font-weight: 600;
 }

 .order-color {
 color: rgb(69, 182, 69);
 }





 @media (min-width: 576px) {
  .product-list-padding {
   padding: 1.2rem !important
 }

}
  @media (max-width: 576px) {
.product-screen-button{
   margin-top: 15px;
 }

}
 


.no-product-fount {
  font-size: 1.5rem;
  font-weight: 600;
  color: #080704;
}

.out-of-stock{
  color: rgb(207, 32, 32);
  font-weight: 500;
  margin-left: 19px;
}


 
.home-page-container{
  background-color: #f8f8f0;
}

.footer-desc{
  font-weight: 500;
}