.dot {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  display: inline-block;
}

 
.navbar-text {
  
  font-weight: bold;
}

.pointer{
    cursor: pointer;
}


.strike {
  text-decoration: line-through;
  color : rgb(187, 39, 39)
}